h4 {
  padding-top: calc(50vh - 60px);
}

h4 {
  font-size: 20px;
  color: black;
}

.btn {
  margin-top:10px;
  background-color: rgb(243, 214, 46) !important;
  font-family: "Noto Sans KR";
  font-size: 12px;
  color: rgba(97, 71, 24, 1) !important;
  padding: 10px 25px;
  border-radius: 20px;
}

.btn:hover {
  color: rgba(97, 71, 24, 0.8) !important;
  background-color: rgba(236, 211, 67, 0.8) !important;
}
