body{
    font-weight: lighter;
    font-family: 'Black Han Sans', sans-serif;
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    background: linear-gradient(90deg, rgba(255, 180, 0, 0.1) 50%, rgba(255, 180, 0, 0.1) 100%), url("image/pu2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
h4 {
  font-size: 0.8rem;
  font-weight: lighter;
}
h5 {
  font-size: 0.75rem;
  margin: 0;
  font-weight: lighter;
}
h2{
    font-size:3rem;
    margin:0;
    padding:0;
}