{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="./static/fullcalendar.css">
  <link rel="stylesheet" href="./static/apply.css">
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div id="danger" class="collapse alert alert-danger" role="alert">
          <strong>Password를 확인해주세요!</strong>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5">
        <div id=title></div>
        <form id="apply" onsubmit="return false;">
          <div class="form-group">
            <label for="KTISID">학번</label>
            <input class="form-control" autocomplete="off" id="KTISID" value="{{id}}" disabled>
          </div>
          <div class="form-group">
            <label for="Password">비밀번호</label>
            <input type="password" class="form-control" autocomplete="off" name="password" id="Password" placeholder="Password">
            <small class="form-text text-muted">5회 연속으로 틀릴 시 KTIS 사용이 제한됩니다.</small>
          </div>
          <button id="submit" class="btn btn-primary col-12">제출</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/apply.js"></script>
{% endblock %}