<!doctype html>
<html lang="en">
<title>꿀로</title>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet" />
  <link href="../static/main.css" rel="stylesheet" />
  <link href="../static/sidebar.css" rel="stylesheet" />
  {% block css %}
  {% endblock %}
</head>

<body>

  <div id="modal" class="modal" tabindex="-1" role="dialog">
    {% block modal %}
    {% endblock %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- 사이드바 -->
      <nav class="col-2 sidebar">
        
        <div class="sidebar-sticky">
          <div id=header>
          
          <div id=header_title>꿀로</div>  
          {% if type == 'teacher' %}
          <div id=sub_title>교사용</div>
          {% else %}
          <div id=sub_title>학생용</div>
          {% endif %}
        </div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" id="general">일반근로</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="national">국가근로</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="helper">Helper</a>
            </li>
          </ul>
        </div>
        <a id="logout" href="logout">로그아웃</a>
      </nav>
      <main role="main" class="col-10">
        <div id=contents>
          {% block main %}
          {% endblock %}
        </div>
      </main>
    </div>
  </div>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/static/sidebar.js"></script>
    {% block js %}
    {% endblock %}
</body>

</html>