{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="./static/fullcalendar.css">
<link rel="stylesheet" href="./static/list.css">
<link rel="stylesheet" href="./static/empty.css">
{% endblock %}

{% block main %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          {% if exist == 0 %}
          <h4>{{work}}를 신청하지 않으셨습니다</h4>
          <button class="btn btn-primary" id="apply">근로신청</button>
          {% else %}
          <h1 id = "title"></h1>
          <div id='calendar'></div>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
  {% if exist == 0 %}
  <script src="/static/student.js"></script>
  {% else %}
  <script src="/static/access.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
  {% endif %}
{% endblock %}